* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    color: white;
    background-color: #6d597a;

    display: grid;
    place-content: center;

    margin-top: 30px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    margin: 10px 0;
}

.player-choice,
.computer-choice {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;

    background-color: white;
    padding: 20px 0;

    border-radius: 6px;
}

.player-choice img,
.computer-choice img {
    width: 100px;
    height: 100px;
}

.wiiner {
    height: 50px;
    margin: 20px 0;
    
    background-color: #fff;

    border-radius: 6px;
    text-align: center;
    line-height: 50px;
}

.wiiner span {
    font-size: 20px;
    color: black;
}

.reset {
    width: 100px;
    padding: 10px 20px;
    margin: 0 auto;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;

    border: none;
    border-radius: 6px;
}

.flat-icon {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 30px;
}

.flat-icon a {
    color: #fff;

    max-width: 150px;

    text-decoration: none;
    text-align: center;
}


